@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 100px;
  height: 50px;
}

.color-bar {
  width: 750px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    magenta,
    red
  );
  position: relative;
  margin-bottom: 40px;
}

.scroll-btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 4px 4px -4px inset,
    rgba(0, 0, 0, 0.3) 0px 4px 4px -4px inset;
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: 0;
}

label {
  font-weight: 500;
  font-size: 1rem;
}

input {
  width: 300px;
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}
